/*********** Normalize ***********/
html, body, h1, h2, h3, h4, h5, h6, p, div {margin: 0; padding: 0; box-sizing: border-box;}
html, body {height: 10000px;}
img {vertical-align: bottom;}

/*********** 공통사항 ***********/
.clear:after {content: ""; display: block; clear: both;}
.img {width: 100%;}
.pointer {cursor: pointer;}
.wrapper {max-width: 790px; margin: 0 auto; padding: 80px 16px;}
.page-title {text-align: center; font-size: 32px; font-weight: normal; letter-spacing: 6px;}
.page-slogan {text-align: center; font-size: 16px; color: #999; font-weight: normal; font-style: italic; padding: 24px 0;}
.page-content {text-align: justify;}


/*********** .header ***********/
.header {background-color: black; color: #fff;}
.navi-wrap {float: left;}
.navi {float: left; padding: 16px;}
.navi:hover {background-color: #eee; color: #000;}
.search-wrap {float: right;}
.search-wrap > span {padding: 18px;}
.search-wrap > span:hover {background-color: #f20;}

/*********** .main-wrap ***********/
.main-wrap {text-align: center;}


/*********** .band-wrap ***********/
.band-members {margin-top: 30px;}
.band-member {float: left; width: 33.3333%; padding: 40px 20px;}
.band-name {padding: 12px 0; text-align: center;}
.band-photo > img {border-radius: 8px;}


/*********** .tour-wrap ***********/
.tour-wrap {background-color: black;}
.tour-wrap .page-title {color: #fff;}
.tour-wrap .lists {background-color: #ffffff; border: 1px solid #999;}
.tour-wrap .list {padding: 12px 16px;}
.tour-wrap .list:not(:last-child) {border-bottom: 1px solid #999;}
.tour-wrap .soldout {background-color: #f20; color: #fff; padding: 2px 6px; font-size: 14px; margin-left: 20px;}